img, button {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;

}
::-moz-selection {
	background: #e6e6e6;
}
::selection {
	background: #e6e6e6;
}

body {
	font-family: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
	text-align: center;
	margin: 1rem;
	color: #444;
}
h3 {
	color: #488;
	font-weight: lighter;
	letter-spacing: 0.1rem;
	font-size: x-large;
}
a {
	color: #488;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
hr {
	border-color: #888;
	border-style: solid;
	background-color: #888;
	width: 16rem;
}
label, button {
	display: block;
}
label, input[type=number] {
	color: #444;
	font-size: large;
}
input[type=number], button {
	border-radius: 0.25rem;
	margin: 0.25rem;
	padding: 0.5rem;
	background-color: transparent;
}
input[type=number] {
	border: 2px solid #888;
	width: 8rem;
}
button {
	color: #488;
	border: 2px solid #488;
	font-weight: bold;
	cursor: pointer;
	margin: 1rem auto;
}
button:hover {
	background-color: #488;
	color: #fff;
}
input[type=number]:focus, button:focus {
	outline: none;
	border-color: #444;
}

@media (min-width: 640px) { /* sm */
}

@media (min-width: 768px) { /* md */
}

@media (min-width: 1024px) { /* lg */
}

@media (min-width: 1280px) { /* xl */
}